
#include ".xrdb/color/red"

! -----------------------------------------------------------------------------
! Xft Font Configuration
! -----------------------------------------------------------------------------
Xft.antialias: true
Xft.autohint:  true
Xft.hinting:   true
Xft.hintstyle: hintmedium
Xft.lcdfilter: lcddefault
Xft.rgba:      rgb
Xft.dpi:       96

! ------------------------------------------------------------------------------
! URxvt configs
! ------------------------------------------------------------------------------
URxvt.geometry:         108x24
URxvt*font:             xft:Iosevka Fixed Curly Medium:size=12
URxvt.secondaryScroll:  0
URxvt*letterSpace: 	    0
URxvt.lineSpace: 		0
URxvt*internalBorder:   16
URxvt*externalBorder:   0
URxvt*depth:            32
URxvt*saveline:         2000
URxvt*termName:         rxvt-256color
URxvt*iso14755:         false
URxvt*scrollBar:        false
URxvt*scrollBar_right:  false
URxvt.perl-ext-common:  default,clipboard,url-select,keyboard-select
URxvt.copyCommand:      xclip -i -selection clipboard
URxvt.pasteCommand:     xclip -o -selection clipboard
URxvt.keysym.M-c:       perl:clipboard:copy
URxvt.keysym.M-v:       perl:clipboard:paste
URxvt.keysym.M-C-v:     perl:clipboard:paste_escaped
URxvt.keysym.M-Escape:  perl:keyboard-select:activate
URxvt.keysym.Shift-Up:	command:\033]720;1\007
URxvt.keysym.Shift-Down:command:\033]721;1\007
URxvt.keysym.M-s:       perl:keyboard-select:search
URxvt.keysym.M-u:       perl:url-select:select_next
URxvt.urlLauncher:      firefox
URxvt.underlineURLs:    true
URxvt.urlButton:        1
URxvt*buffered:         false
URxvt.urgentOnBell: 	True
