! -----------------------------------------------------------------------------
! Xft Font Configuration
! -----------------------------------------------------------------------------

#include ".xrdb/color/nord"
#include ".xrdb/rofi/nord"

Xft.antialias: true
Xft.autohint:  true
Xft.hinting:   true
Xft.hintstyle: hintmedium
Xft.lcdfilter: lcddefault
Xft.rgba:      rgb
Xft.dpi:       96

URxvt*font: xft:Iosevka Fixed Curly Medium:size=12
URxvt.secondaryScroll: 0
URxvt.scrollBar: false
